<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sona.ktp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
		android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.sona.ktp.activity.about.AboutActivity"></activity>
        <activity
            android:name="com.sona.ktp.activity.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sona.ktp.activity.login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.sona.ktp.activity.home.MainActivity" />
        <activity android:name="com.sona.ktp.activity.home.ProfileActivity" />
        <activity android:name="com.sona.ktp.activity.pembuatan.PembuatanActivity" />
        <activity android:name="com.sona.ktp.activity.pembuatan.PembuatanDetailActivity" />
        <activity android:name="com.sona.ktp.activity.pembuatan.PembuatanAddActivity" />
        <activity android:name="com.sona.ktp.activity.pembuatan.PembuatanEditActivity" />
        <activity android:name="com.sona.ktp.activity.pembuatan.JenisDetailActivity" />
        <activity android:name="com.sona.ktp.activity.kritiksaran.KritiksaranActivity" />
        <activity android:name="com.sona.ktp.activity.kritiksaran.KritiksaranAddActivity" />
        <activity android:name="com.sona.ktp.activity.kritiksaran.KritiksaranDetailActivity" />
        <activity android:name="com.sona.ktp.activity.kritiksaran.KritiksaranEditActivity" />

    </application>

</manifest>
